*
!Cargo.toml
!Cargo.lock
!src/
!src/**
!web/
!web/**
!deploy/
!deploy/permissions.conf
!deploy/compose.auth.yaml
!deploy/compose.network.yaml
!deploy/compose.tls.yaml
!deploy/compose.mtls.yaml
!deploy/compose.creds.yaml
!LICENSE
!Dockerfile

!scripts/
!scripts/*.mjs

!*.md

!docs/
!docs/**
!demo/
!demo/README.md
!demo/published.yaml
!compose.yaml
